{% extends 'base.html' %}
{% block body %}
            {% if data %}
            <div class='row'>
                <div class='col-xs-12 text-right'>
                    <a href='../csv/{{ report_name }}.csv' class='btn btn-success'>csv</a>
                </div>                
            </div>
            <div class='row'>
                <div class='col-xs-12'>
                    <table class='table table-condensed table-hover'>
                        <thead>
                            <th>so_number</th>
                            <th>location_id</th>
                            <th>account_number</th>
                            <th>meter_number</th>
                            <th>ResourceName</th>
                            <th>ORDER_TYPE</th>
                            <th>ORDER_STATUS</th>
                            <th>MemberName</th>
                            <th>Address</th>
                            <th>AccountNumber</th>
                            <th>CompletionDate</th>
                            <th>CreationDate</th>
                            <th>MemberNumber</th>
                            <th>CurrentStatus</th>
                        </thead>
                        <tbody>
                        {% for row in data %}
                            <tr>
                                <th>{{ row[0] }}</th>
                            {% for i in range(1, 14) %}
                                <td>{{ row[i] }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class='row'>
                <div class='col-xs-3'>
                    <div class='bg-danger'>Error or no data</div>
                </div>                
            </div>
            {% endif %}
{% endblock %}