<!DOCTYPE html>
<html>
    <head>
        <title>Report list</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    </head>
    <body>
        <h2>Report list</h2>
        <hr/>
        {% if data %}
        <ul>
        {% for report in data %}
            <li>
                <a href='{{ report }}'>{{ report }}</a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <div class='error'>Error or no data</div>
        {% endif %}
    </body>
</html>